

textarea {
	width: 94%;
	max-width: 680px;
	border-radius: 4px;
	height: 34px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.red {
	background-color: rgba(255,0,0,0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	transition:all 0.3s ease-in-out;
	padding:30px;
	border-radius: 10px;
	font-size: 1.5em;
	color:$white;
}

.form_submit {
	display: inline-block;
	padding: 15px;
	background: #0F373B;
	border: none;
	outline: 0;
	color: #fff;
	font-family: inherit;
	font-weight: 300;
	font-size: 1em;
	border-radius: 8px;
	box-shadow: 0 5px 0 #59ad9f;
	border-bottom: 2px solid #0c2c2f;

	&:hover{
		background: darken($green,5%);
		box-shadow: 0 4px 1px darken($light-green,5%);
		border-bottom: 2px solid darken($light-green,8%);
		transition: all 0.1s ease-in;
	}

	&:active{
		transform:translateY(4px);
		border-bottom-width: 2px;
		box-shadow: none;
	}
}

.closeBorder {
	position: absolute;
	right: 18px;
	top: 10px;
	font-size: 19px;
}

.registration__form {
	margin-top: 40px;
}

.form_wrapper {
	width: span(10);
	margin-left: span(1);
	margin-right: span(1);
	margin-top: 40px;

	@include breakpoint($medium) {
		width: span(8);
		margin-left: span(2);
		margin-right: span(2);
	}

	@include breakpoint($large) {
		width: span(6);
		margin-left: span(3);
		margin-right: span(3);
	}
}





