

textarea {
	width: 94%;
	max-width: 680px;
	border-radius: 4px;
	height: 34px;
	padding: 6px 12px;
	background-color: #fff;
	border: 1px solid #ccc;
}

//.registration__form {
//	margin-bottom: 20px;
//}

.red {
	background-color: rgba(255,0,0,0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	transition:all 0.3s ease-in-out;
	padding:30px;
	border-radius: 10px;
	font-size: 1.5em;
}