//brand colors
$white: #F3F4E9;
$black: #071114;
$moog-orange:#59AD9F;
$green:#0F373B;
$light-green:#59AD9F;

//Special borders
@mixin border-bottom {
	border-bottom:1px solid #808080;
}

//Hover states
@mixin hover {
	background-color:$moog-orange;
}

//Transitions

@mixin trans {
	transition: all 0.2s ease-in-out;
}

@mixin zoom {

	&:hover{
		transform:scale(1.05);
	}
}
