

a {
	text-decoration: none;
}

.wrapper{
	@include full;
}


/*-----------------------------Image gallery---------------------------------*/


.product-container {
	// border:1px solid red;
	@include container ;
	margin-bottom:10px;
	text-transform: uppercase;

	p {
		text-transform:lowercase; 
		line-height: 1.5em;
	}

}

.product {
	
	@include gallery(4 of 8);
	@include transition ;
	margin-top: 10px;
	margin-bottom: 10px;

	figure {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		h2 {
			padding:73px 20px;
			font-size: 1em;
			text-align: center;
			transition:all 0.2s ease-in-out; 
			color: white;

			@include breakpoint($medium) {
				font-size: 1em;
			}

			&:hover{
				@include hover;
				opacity:(0.9);
			}
		}
	}

	@include breakpoint($medium) {
		@include gallery(3 of 9);
	}

	@include breakpoint($large) {
		@include gallery(3 of 12);
	}


}


//.product-one{figure{background-image: url(http://lorempixel.com/400/200/sports);}}
//.product-two{figure{background-image: url(http://lorempixel.com/400/200/city);}}
//.product-three{figure{background-image: url(http://lorempixel.com/400/200/abstract);}}
//.product-four{figure{background-image: url(http://lorempixel.com/400/200/people);}}
//.product-five{figure{background-image: url(http://lorempixel.com/400/200/nature);}}
//.product-six{figure{background-image: url(http://lorempixel.com/400/200/technics);}}
//.product-seven{figure{background-image: url(http://lorempixel.com/400/200/transport);}}
//.product-eight{figure{background-image: url(http://lorempixel.com/400/200/nightlife);}}
//.product-nine{figure{background-image: url(http://lorempixel.com/400/200/food);}}
//.product-ten{figure{background-image: url(http://lorempixel.com/400/200/cats);}}
//.product-eleven{figure{background-image: url(http://lorempixel.com/400/200/fashion);}}
//.product-twelve{figure{background-image: url(http://lorempixel.com/400/200/business);}}































