body {
	background-color: $white;
	color: $black;
}

a {
	text-decoration: none;
}

.wrapper{
	@include full;
}


/*-----------------------------Image gallery---------------------------------*/


.product-container {
	// border:1px solid red;
	@include container ;
	margin:15px 0;
	text-transform: uppercase;

	p {
		text-transform:lowercase; 
		line-height: 1.5em;
	}

}

.product {
	
	@include gallery(4 of 8);
	@include transition ;
	margin-top: 10px;
	margin-bottom: 10px;


	figure {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		
		h2 {
			padding:73px 20px;
			font-size: 1em;
			text-align: center;
			transition:all 0.2s ease-in-out; 
			color: white;
			background-color: rgba(0,0,0,0.3);

			@include breakpoint($medium) {
				font-size: 1em;
			}

			&:hover{
				@include hover;
				opacity:(0.9);

			}
		}
	}

	@include breakpoint($medium) {
		@include gallery(3 of 9);
	}

	@include breakpoint($large) {
		@include gallery(3 of 12);
	}


}

.delete {
	@include full;
	background-color: #5bc0de;
	margin-top: 10px;
	text-align: center;
	span {

		text-transform: none;
	}
}


































